*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app_doiMatKhau{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app_doiPass{
    background-image: url(../backGround/thinh2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width:400px;
    height: 450px;
    border: 1px solid;
    border-radius: 15px;
}

#text_Page{
    font-size: 30px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.app_doiPass_item{
    margin: 0 10px;
}
.taiKhoan{
font-size: 25px;
border-bottom: 1px solid;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.matKhau{
    margin-top: 20px;
    font-size: 20px;
    border-bottom: 1px solid;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.matKhauMoi{
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 1px solid;
}
.or{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 1px solid;
}
#pass, #newpass{
    float: right;
    height: 23px;
    border-radius: 8px;
    font-size: 16px;
}
.xacNhan{
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 1px solid;
}

#ok{
    width: 50px;
    height: 20px;
}
#submit, #back{
    margin-top: 20px;
    width: 300px;
    height: 30px;
    border-radius: 20px;
}
.submit, .back{
    display: flex;
    justify-content: center;
}

#submit:hover, #back:hover{
    background-color: white;
    color: black;
}
a{
    text-decoration: none;
}
