*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.item1{
    height: 700px;
    width: 50%;
    border-right: 5px solid black;
}

.item2{
    padding-left: 20px;
    width: 50%;
}

#cauHoi, .dapan{
    width: 700px;
}

#cauHoi{
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 15px;
    
}

.dapan{
    margin:10px 0;
    padding: 10px;
    background-color: aquamarine;
    border-radius: 15px;
}

.dapan:hover{
    background-color: aqua;
    cursor: pointer;
}

button{
    border-radius: 15px;
    padding: 10px;
}

.btn{
    display: inline-block;
    width: 40px;
    height: 40px;
    justify-content: center;
}